@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --button-color: #cc3b30;
}

body {
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
}
@media (min-width: 992px) {
  body {
    padding-top: 120px;
  }
}

* {
  margin: 0;
  padding: 0;
}

div {

}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

th, td {
  color: white;
}

login-status {
  float: right;
}

html, body { height: 100%; }
body { margin: 0; }
